<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="titulo">BMI CALCULATOR</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="fondoItem" [ngClass]="{'sexoDesactivo': sexo === 'F'}">
                    <div class="contenedor" style="cursor: pointer;" (click)="cambiarSexo('M')">
                        <i class="fas fa-mars sexo"></i>
                        <p>Masculino</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="fondoItem" [ngClass]="{'sexoDesactivo': sexo === 'M'}">
                    <div class="contenedor" style="cursor: pointer;" (click)="cambiarSexo('F')">
                        <i class="fas fa-venus sexo"></i>
                        <p>Femenino</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="fondoItem">
                    <div class="contenedor">
                        <p>Altura</p>
                        <div class="estiloNumero">
                            {{ altura }} <span class="cm">cm</span>
                        </div>
                        <input type="range" class="custom-range" [value]="altura"
                            min="120" max="220" (input)="cambiarAltura($event)">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="fondoItem">
                    <div class="contenedor">
                        <p>Peso</p>
                        <div class="estiloNumero">
                            {{ peso }}
                        </div>
                        <div>
                            <i class="fas fa-minus sumaResta" (click)="operacionPeso(-1)"></i>
                            <i class="fas fa-plus sumaResta" (click)="operacionPeso(1)"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="fondoItem">
                    <div class="contenedor">
                        <p>Edad</p>
                        <div class="estiloNumero">
                            {{ edad }}
                        </div>
                        <div>
                            <i class="fas fa-minus sumaResta" (click)="operacionEdad(-1)"></i>
                            <i class="fas fa-plus sumaResta" (click)="operacionEdad(1)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary btn-lg btn-block btn-color" (click)="calcularBMI()">
                    CALCULAR
                </button>
            </div>
        </div>
    </div>
</div>
